* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#container {
    position: absolute;
    top: 0;
    left: 0;
    background-color: black;
    width: 100%;
    height: 100%;   
}

#canvas {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: black;

}

#audio1 {
    width: 50%;
    margin: 50px;
    display: block;
    justify-self: right;
}